.gridHeaderViewContainer {
    overflow: hidden;
    display: flex;
    background-color: rgb(125, 186, 247);
    height: 2.5em;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.gridHeaderCell {
    border-right: 1px solid lightgray !important;
}