@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,600,400,300);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  /* font-size: calc(8px + 1vmin); */
  font-size: 13px;

  ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 1vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

