.gridRow {
    /* border: 1px solid rgb(240, 240, 240); */
    height: 35px;
    width: min-content;
    display: flex;
}

.gridRow > div {
    margin: auto 0;
}

.gridRow:nth-child(even) {
    background-color: rgba(5, 38, 70, 0.09);
}

.gridRow:hover {
    background-color: rgba(189, 206, 236, 0.61);
}

.row-selected {
    background-color: rgb(183, 215, 255)  !important;
}