.gridViewContainer {
    height: 92VH;
    overflow: scroll;
}

.gridHeaderViewContainer {
    overflow: hidden;
    display: flex;
    background-color: rgb(103, 155, 207);
    height: 2.5em;
    color: white;
    margin-right: 16px;
}

.gridRow {
    /* border: 1px solid rgb(240, 240, 240); */
    height: 32px;
    width: min-content;
}

.gridRow:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.gridCell {
    background-color: inherit;
    display: table-cell;
    min-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    margin: auto 0 auto 0;
}